<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/assortiment.css') }}">
    <title>Portfolio</title>
</head>

<body>
<div class="page-wrapper">
    <header class="header">
        <div class="container">
            <div class="header__main">
                <a href="{{ url_for('home') }}" class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="">
                </a>
                <nav class="nav__menu">
                    <ul class="menu">
                        <li class="menu-item"><a href="#">Ассортимент <img class="ml-1"
                                                                           src="{{ url_for('static', filename='images/svg/Vector.svg') }}"
                                                                           alt=""></a>
                            <ul class="sub-menu">
                                <li><a class="sub-item" href="{{ url_for('doors') }}">Двери</a>
                                </li>
                                <li><a class="sub-item" href="{{ url_for('furniture') }}">Мебель</a>
                                </li>
                                <li><a class="sub-item" href="{{ url_for('fireplace') }}">Камины</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">Админ функционал <img class="ml-1"
                                                                           src="{{ url_for('static', filename='images/svg/Vector.svg') }}"
                                                                           alt=""></a>
                            <ul class="sub-menu">
                                <li><a class="sub-item" href="{{ url_for('add_new_door') }}">Добавить дверь</a>
                                </li>
                            </ul>
                        </li>
                        </li>
                        <li class="menu-item"><a href="#">Контакты</a>
                        </li>
                        <li class="menu-item">
                            <a href="#" class="d-flex">
                                <img class="mr-1" src="{{ url_for('static', filename='images/wold/header4.png') }}"
                                     alt="">RU</a>
                            <ul class="sub-menu sub-language">
                                <li>
                                    <a class="sub-item d-flex" href="#">
                                        <img src="{{ url_for('static', filename='images/wold/header1.png') }}" alt="">EN</a>
                                </li>
                                <li>
                                    <a class="sub-item d-flex" href="#">
                                        <img src="{{ url_for('static', filename='images/wold/header2.png') }}" alt="">UZ</a>
                                </li>
                                <li>
                                    <a class="sub-item d-flex" href="#">
                                        <img src="{{ url_for('static', filename='images/wold/header3.png') }}" alt="">RU</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="footer__logo">
                    <img src="{{ url_for('static', filename='images/footerlogo.png') }}" alt="">
                </div>
                <ul class="footer__list">
                    <li class="footer__list-title">НАВИГАЦИЯ</li>
                    <li><a href="#" class="footer__list-link">На главную</a>
                    </li>
                    <li><a href="#" class="footer__list-link">Ассортименты</a>
                    </li>
                    <li><a href="#" class="footer__list-link">О нас</a>
                    </li>
                    <li><a href="#" class="footer__list-link">Контакты</a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list-title">Контакты</li>
                    <li><a href="tel:+998994424241" class="footer__list-link">t. +99899 442 42 41</a>
                    </li>
                    <li><a href="mailto:E. infocom.@gmail.com" class="footer__list-link">E. infocom.@gmail.com</a>
                    </li>
                </ul>
                <ul class="footer__list">
                    <li class="footer__list-title">Соц-сети</li>
                    <div class="social"><a href="#"><i class="fab fa-instagram"></i></a> <a href="#"><i
                            class="fab fa-youtube"></i></a> <a href="#"><i class="fab fa-facebook-square"></i></a> <a
                            href="#"><i class="fab fa-telegram-plane"></i></a>
                    </div>
                </ul>
            </div>
        </div>
        <a href="#" class="footer__home">
            <img src="{{ url_for('static', filename='images/svg/arrow.svg') }}" alt="">
        </a>
        <div class="footer__bottom">
            <div class="container">
                <p>2021 megapolis-tk.uz</p>
            </div>
        </div>
    </footer>
</div>
<script></script>
<script src="{{ url_for('static', filename='scripts/main.min.js') }}"></script>
</body>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe4iqnnK7fJpH2aPVJG-3Pq98W_w3lJQg7OZr3uEGScnJoVCA/viewform?embedded=true"
        width="640" height="919" frameborder="0" marginheight="0" marginwidth="0">Загрузка…
</iframe>
</html>